<%- include("template/cabecera4", {tituloWeb: 'Página Employees' }) %>
<br>    
<center>
        <div class="container border border-dark">
            <img src="https://preview.redd.it/bnx2g6xgmxi11.jpg?auto=webp&s=1e5b41c650b6b00fc0c083763776c845ab2d4262" alt="">
            <br>
            <h1>
                <%= mensaje %>
            </h1>
        </div>
        <p><a href="/web/paginaPrincipal">volver a página principal</a></p>
    </center>

    </html>